body
{
}
.ajaxwatermarked {
	font-size : 11px;
	color: #808080;
	font-weight: normal;
	font-family: "Times New Roman", Times, serif;
   	width:200px;
	font-style: italic;
}

.ajaxwatermarked12 {
	font-size : 11px;
	color: red;
	font-weight: normal;
	font-family: "Times New Roman", Times, serif;
	text-decoration : none;
	font-style: italic;
}